main {
    display: flex;
    margin: 2% 5%;
  }
  
  /*? Slider */
  
  .slider {
    position: sticky;
    width: 100%;
    margin-right: 40px;
    top: 20px;
    overflow: auto;
    height: 100%;
  }
  
  .main-image {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .thumbnail {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin: 0 5px;
  }
  .zoom_image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    cursor: zoom-in;
    box-shadow: 0 0 0 500px #ffffff;
  }
  .close_image {
    height: 40px;
    position: fixed;
    top: 2%;
    width: 40px;
    z-index: 10000;
    right: 5%;
  }
  .product_textBlock {
    width: 100%;
  }
  
  /*? Text part */
  
  h1 {
    font-size: 48px;
    font-weight: 600;
    color: #040313;
  }
  .product_desc {
    color: #020020b9;
    font-size: 18px;
  }
  .product_desc:nth-child(1) {
    font-size: 20px;
    margin-top: 20px;
  }
  .product_desc_br::before {
    content: "\a \2022 \2002";
    white-space: pre;
  }
  .product_desc_br:nth-child(1)::before {
    content: "\2022 \2002";
  }
  button {
    cursor: pointer;
  }
  .product_amount_box {
    display: flex;
    justify-content: space-between;
    width: min(150px, 100%);
    align-items: center;
    font-size: 20px;
    border: 1px solid #00000093;
    border-radius: 30px;
    padding: 8px 30px;
  }
  .product_number {
    padding: 0;
  }
  h4 {
    font-size: 22px;
  }
  .product_amount {
    font-size: 12px;
    padding: 20px 0 5px 5px;
  }
  .product_priceBox {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .product_price {
    font-size: 20px;
    padding: 0;
  }
  .product_oldprice {
    text-decoration: line-through;
    font-size: 14px;
    margin-right: 20px;
  }
  .product_sale {
    background-color: #000000;
    padding: 5px 20px;
    color: #ffffff;
    margin-left: 30px;
  }
  .cart__button {
    margin: 20px 0 40px 0;
  }
  .clicked_cart {
    justify-content: center;
    align-items: center;
  }
  .radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #eee;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all 0.15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }
  .radio-inputs {
    margin-top: 20px;
  }
  .last_desc_br {
    font-size: 14px;
  }
  .last_desc_br::before {
    content: "\a ";
  }
  
  @media screen and (max-width: 820px) {
    .slider {
      position: relative;
    }
    main {
      flex-direction: column;
    }
    .product_priceBox {
      justify-content: center;
    }
    .product_main {
      text-align: center;
    }
    .product_title {
      text-align: center;
      margin-top: 20px;
    }
    .product_textBlock {
      margin-top: 50px;
    }
    .product_amountBox {
      text-align: center;
    }
    .product_amount_box {
      margin: auto;
    }
    .cart__button {
      margin: 20px auto 0 auto;
    }
    .product_footer {
      margin-bottom: 50px;
    }
    .slider {
      width: 80%;
      margin: auto;
    }
    .radio-inputs {
      margin-inline: auto;
    }
  }
  @media screen and (max-width: 500px) {
    .thumbnail {
      width: 70px;
    }
    .product_desc {
      font-size: 17px;
    }
  }
  @media screen and (max-width: 400px) {
    .slider {
      width: 100%;
    }
  }
  @media screen and (max-width: 350px) {
    .radio-inputs {
      width: 280px;
    }
  }