@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/static/RedHatDisplay-Light.ttf");
}
@font-face {
  font-family: "Red Hat Display";

  font-style: normal;
  font-weight: 500;
  src: url("../fonts/static/RedHatDisplay-Medium.ttf");
}
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/static/RedHatDisplay-Regular.ttf");
}
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/static/RedHatDisplay-SemiBold.ttf");
}
*:not(script):not(style):not(br):not(input):not(textarea):not(select):not(
    img
  ):not(audio):not(video):not(iframe) {
  font-family: "Red Hat Display", sans-serif;
}
a {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
::placeholder {
  font-weight: 500;
  padding-bottom: 10px;
}

h6,
p {
  font-weight: 400;
  padding-bottom: 10px;
}

/*? Header */

header {
  background-color: #99d98c;
}
.header_title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
}

/*? Nav */

nav {
  display: grid;
  grid-template-areas: "logo links links links links search search search cart cart";
  padding: 0 20px;
  justify-content: space-between;
  background: #1e1a1a;
  color: #ffffff;
  align-items: center;
}
nav div {
  width: 100%;
}
.logo {
  grid-area: logo;
}
.logo img {
  width: 60px;
  padding: 10px;
}
.nav_linksBox {
  grid-area: links;
}
.nav_link {
  margin: 0 10px;
}
.search_bar {
  grid-area: search;
  display: flex;
  background: #f3f4f1;
  align-items: center;
  border-radius: 20px;
  height: 35px;
}
.cart_button {
  grid-area: cart;
  cursor: pointer;
}
.search_svg {
  margin-right: 15px;
  cursor: pointer;
}
.nav_search {
  width: 100%;
  margin-left: 10px;
  color: #000000;
}
.nav_search::placeholder {
  color: #b1b3ac;
}
/* Side cart CSS */
.side-cart {
  position: fixed;
  top: 0;
  right: -500px;
  width: 35%;
  height: 100%;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: right 0.5s ease-in-out;
  z-index: 9999;
  width: min(500px, 100%)
}

/* Side cart animation */
.side-cart.open {
  right: 0;
}
/* Side cart animation */
.side-cart.close {
  right: -500px;
}
.close_side-cart {
  cursor: pointer;
}
.modal-body {
  color: #000000
}
h2 {
  color: #000000
}
.cart_product {
  display: flex;
  justify-content: space-between;
}
.amountBox {
  display: flex;
  align-items: center;
}
.titleParagr {
  width: 100%;
  padding: 0;
}
.amountParagr {
  padding: 0 5px;
}
.amountBox button {
  cursor: pointer
}
.product_title_cart {
  width: 100%
}


/*? Footer */

footer {
  background: #1e1a1a;
  color: #ffffff;
}
.footer_subscribeTitle {
  font-size: 24px;
  color: #ededed;
}
.footer_subscribeInput {
  background: #3a3939;
  width: min(365px, 100%);
  height: 40px;
  padding-left: 10px;
}
.footer_subscribeInput::placeholder {
  font-weight: 400;
  color: #acacab;
}
.footer_subscribeButton {
  background: #ffffff;
  color: #1e1a1a;
  height: 40px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 1px;
  background: #e0e1de6b;
}
.footer_part {
  padding: 2% 5%;
}
.footer_linksBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.footer_link {
  font-weight: 400;
  color: #dbdbdb;
}
.footer_cardsBlock {
  display: flex;
  justify-content: space-evenly;
}
.footer_card {
  width: 40px;
}
.footer_company {
  text-align: right;
  margin-top: 20px;
  color: #c3c3c3;
}
.unactive {
  display: none;
}

